@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=SUSE:wght@100..800&display=swap');
/* GENERAL STYLES */
    span{
        scale: 1.5;
    }
/*  */

/* HEADER STYLES */
    .header{
        padding: 16px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        color: black;
        text-decoration: none;

        font-size: 25px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
/*  */

/* NAVBAR STYLES */
    .navbar{


        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar span,
    .navbar input{
        display: none;
    }

    .navList{
        list-style: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .navLink{
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    .navLink{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    /* RESPONSIVE MOBILE */
    @media(max-width: 800px){
        .navbar{


            position: static;
            top: 0;
        }
        .navList{
            backdrop-filter: blur(10px);
            border-left: 2px solid black;

            height: 100vh;
            width: 250px;

            position: fixed;
            top: 0;
            right: -250px;
            z-index: 10;

            flex-direction: column;
            justify-content: initial;
            align-items: flex-start;
            gap: 0rem;

            transition: 800ms ease-in-out;
        }

        .navList span:first-child{
            padding: 16px;
        }

        .navbar span{
            display: block;
        }

        .navLink{
            font-size: 20px;

            margin: 10px;
        }

        #sidebar:checked ~ .navList{
            right: 0;
            transition: 800ms ease-in-out;
        }

        #sidebar:checked ~ .menu{
            display: none;
            transition: 800ms ease-in-out;
        }
    }
/*  */